<div class="ads">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- gamepassionblog -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-8400656402787021"
         data-ad-slot="7003323570"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
